html,
body {
    margin: 0;
    padding: 0;
}
body{
    background-color: #090909;
    font-family: 'Inter', sans-serif;
    color: #f8eee9;
}
#root{
    position: relative;
    max-width: 100vw;
}
.wrapper{
    margin: 0 auto;
    width:1110px;
}
.search{
    font-family: 'Inter', sans-serif;
    color: #f8eee9;
}
.card{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color:  #090909;
     -webkit-box-shadow:  33px 33px 43px #050505,
     -33px -33px 43px #0d0d0d;
             box-shadow:  33px 33px 43px #050505,
     -33px -33px 43px #0d0d0d;
    width:451px;
    height: 279px; 
   margin: 18px;
   margin-right: 70px;
}
.card-content{
    font-size: 0.8rem;
position: relative;
width: 268px; 
padding: 20px;
} 
.movie-title-rate{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.movie-title-rate__title{
    max-width: 180px;
    margin:0;
}
.movie-title-rate__circle{
    width:30px;
    height:30px;
    border-radius: 50%;
text-align: center;
padding-top:3px;
}
.movie-title-rate__circle.red{
border: 2px solid #E90000;
}
.movie-title-rate__circle.orange{
    border: 2px solid  #E97E00;
}
.movie-title-rate__circle.yellow{
    border: 2px solid  #E9D100;
}
.movie-title-rate__circle.green{
    border: 2px solid  #66E900;
    }
.card-content__h2{
font-size: 1.3rem;
}
.card-content__date, .card-content__genre{
margin-top: 7px;
margin-bottom: 7px;
}
.card-content__annotation{
    max-height: 129px;
    line-height: 22px;
    margin-top: 7px;
}
.card-content__genres{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    overflow-x: auto;
    overscroll-behavior-x: contain;
}

.card-content__genres::-webkit-scrollbar{
    background-color: #090909;
    height: 15px;
  }
  .card-content__genres::-webkit-scrollbar-thumb{
    background: #212022;
  }

.card-content__genre{
    color: #cbc7c4;
    border: 1px solid #a8a5a3;
    border-radius: 7px;
    padding: 3px;
    margin-bottom:4px;
    margin-right: 5px;
    background-color: #212022;
    max-height:25px;
     white-space: nowrap;
}
.card-content__genre:last-child{
    margin-right: 0px;
}
.spin{
    margin: 20px 0;
    margin-bottom: 20px;
    padding: 30px 50px;
    text-align: center;
    background: #090909;
    border-radius: 4px;
}
.all-cards{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    translate: 36px;
}
.search-input{
    width:990px;
    height: 40px;
    translate: 50px;
    margin-bottom: 34px;
    margin-top: 50px;
    background-color: #f8eee9;
    border-color: #c84f34;
}
.ant-pagination{ 
    margin: 0 auto; 
}
li.ant-pagination-item{
     color:#f8eee9;
    margin-top: 25px;
    margin-bottom: 35px;
}
.ant-pagination-item-active a{
    color: black !important;
}
.ant-pagination .ant-pagination-item a {
    color:#f8eee9;
}
.ant-pagination .ant-pagination-item a {
    color:#f8eee9;
}
li.ant-pagination-options {
    display: none !important;
}
.ant-rate-star.ant-rate-star-zero>div> .ant-rate-star-second{
    color: gray !important;
}
.ant-rate-star.ant-rate-star-half>div> .ant-rate-star-second {
    color: gray !important;
}
.ant-rate{
    position: absolute;
    bottom:10px;
}
.anticon-star{
    font-size:  15px;
    margin-top:10px;
}
.ant-tabs{
    color:#f8eee9;
}
.card-image{
    position: relative;
}
.card-image>img{
    position: absolute;
    bottom:0;
    left:0;
}
@media (max-width: 420px) {
    .wrapper, .search, .rated {
      width: 420px;
    }
    .search-input{
        width: 90vw;
        margin: 2vw;
        translate: 5vw;
    }
    .card{
        position: relative;
        width: 90vw;
        display: inline-block;
        height:245px;
        margin-bottom:1vw;
    }
    .card-image>img{
        width:60px !important;

    }
    .card-image{
        position:absolute;
        height:90px;
        width: 60px;
        margin-top:20px;
        margin-left: 20px;
    }
    .card-content{
        margin-left: 80px;
        height:245px;
        width: 70vw;
    }
    .card-content__annotation{
        margin-left: -80px;
        width: 80vw;
    }
    .ant-rate{
        position:absolute;
        bottom:20px;
        right:20px;
    }
    .card-content__genres, .card-content__date{
        min-height:22px;
    }
    .all-cards{
        width: 385px;
        translate: 2vw;
    }
    .card-content__genre{
        margin:0;
    }
      .card-content__genres::-webkit-scrollbar{
        height: 7px;
      }
  }