html,
body {
    margin: 0;
    padding: 0;
}
body{
    
    background-color: #090909;
    font-family: 'Inter', sans-serif;
    color: antiquewhite;
   
}
#root{
    position: relative;
    max-width: 100vw;
}
.wrapper{
    position: absolute;
    left: calc((100vw - 1110px) / 2);
    right: calc((100vw - 1110px) / 2);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: center;
    width:1110px;
    align-self: center;
}
.card{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color:  #090909;
     /* border:2px solid rgb(69, 67, 67); */
     box-shadow:  33px 33px 43px #050505,
     -33px -33px 43px #0d0d0d;
    width:454px;
    height: 279px; 
   margin: 36px;
}

.card-content{
    font-size: 0.8rem;

/* display:flex;
flex-direction: column;
align-items: center;
justify-content: center; */
max-width: 268px; 
padding: 20px;
} 

.card-content__h2{
font-size: 1.3rem;
}
.card-content__date, .card-content__genre{
margin-top: 7px;
margin-bottom: 7px;
}
.card-content__annotation{
    max-height: 129px;
    line-height: 22px;
}
.spin{
    margin: 20px 0;
    margin-bottom: 20px;
    padding: 30px 50px;
    text-align: center;
    background: antiquewhite;
    border-radius: 4px;
}